@font-face {
    font-family: 'Panama';
    font-weight: normal;
    font-style: normal;
    src: url('https://files.cargocollective.com/c136455/Panama-Regular.otf') format('opentype');
}

[data-predefined-style="true"] h1 {
    font-family: 'Panama', serif;
    text-transform: uppercase;
}

[data-predefined-style="true"] h2 {
    font-family: 'Panama', serif;
    text-transform: uppercase;
}

[data-predefined-style="true"] small {
    font-family: 'Panama', serif;
    text-transform: uppercase;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

body.mobile .flex-row {
  flex-direction: column;
}

#render-container {
    pointer-events: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
