html, body {
    width: 100%;
    height: 100%;
}

html {
    background-color: black;
    color: white;
    font-size: 12vmin;
    text-transform: uppercase;
}

h1 {
    font-weight: normal;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
