@font-face {
    font-family: 'Panama';
    font-weight: normal;
    font-style: normal;
    src: url('./panama-regular.otf') format('opentype');
}

[data-predefined-style="true"] h1, h1 {
    font-family: 'Panama', serif;
    text-transform: uppercase;
    color: inherit;
}

[data-predefined-style="true"] h2, h2 {
    font-family: 'Panama', serif;
    text-transform: uppercase;
    color: inherit;
}

[data-predefined-style="true"] small, small {
    font-family: 'Panama', serif;
    text-transform: uppercase;
    color: inherit;
}

[data-predefined-style="true"] bodycopy,
[data-predefined-style="true"] bodycopy a {
    color: inherit;
}

html {
    background-color: #000000;
    color: #ffffff
}

body {
    background-color: inherit !important;
    color: inherit !important;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

body.mobile .flex-row {
  flex-direction: column;
}

#render-container {
    pointer-events: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: transparent;
}
