<%

function getSourceForPath(path) {
    const fileName = /[^/]*$/.exec(path)[0];
    const source = compilation.assets[fileName].source();
    return source;
}

for (let id in htmlWebpackPlugin.files.css) {
    const path = htmlWebpackPlugin.files.css[id];
    const source = getSourceForPath(path);
    print(`<style>${source}</style>`);
}

for (let id in htmlWebpackPlugin.files.js) {
    const path = htmlWebpackPlugin.files.js[id];
    const source = getSourceForPath(path);
    print(`<script>${source}</script>`);
}

%>
